.search-container {
    margin: 1em 3.5em;
  }
  
.podcast-list {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.no-results {
text-align: center;
margin-top: 1em;
}

.podcast-card {
    min-width: 300px;
    max-width: 300px;
    height:auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px 30px;
    cursor: pointer;
    display: inline-block;
    color: black;
    text-align: center;
    font-size: 1em;
    
}
 

.podcast-card img {
    width: 40%;
    border-radius: 80px;
    filter: brightness(40%);
    display: block;
    margin: 0 auto;
    }


.podcast-card img:hover {
    filter: brightness(70%);
}
 

.podcast-card .profile-name {
    text-transform: uppercase;
    font-weight: bold;
}
 

.podcast-card .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.596);
    left: 30px;
    top: 60px;
}
 

.podcast-card .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 40px 0px;
}
 

.podcast-card .profile-overview h3 {
    font-weight: bold;
    font-size: large;
    padding-left: 25px;
}
 

.podcast-card .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
    padding-left: 25px;
    padding-right: 25px;
}
 

.podcast-card img:hover {
    transform: scale(1.01);
}